body {
  background-color: white;
}

ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

l1:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #047D51;
}

h1 {
  color: black;
  text-align: center;
  font-family: verdana;
  font-size: 24px;
  letter-spacing: 1.5px;
}

p {
  font-family: verdana;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1.25px;
  word-spacing: 5.25px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}